/*!
Template :	ICO Crypto @by Softnio
Preset   :	Default
Version	 :	2.0 * Leap With Alice - StartEngine Live
Updated	 :	09.20.2018 * by LeapWithAlice
*/



/* ================================== *\
|
|       CSS MEDIAQUERIES
|
|
 =>  iPhones:
 =============

 /* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape
@media only screen
 and (min-device-width: 320px)
 and (max-device-width: 568px)
 and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait
@media only screen
 and (min-device-width: 320px)
 and (max-device-width: 568px)
 and (-webkit-min-device-pixel-ratio: 2)
 and (orientation: portrait) {
}

/* Landscape
@media only screen
 and (min-device-width: 320px)
 and (max-device-width: 568px)
 and (-webkit-min-device-pixel-ratio: 2)
 and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 -----------

/* Portrait and Landscape
@media only screen
 and (min-device-width: 375px)
 and (max-device-width: 667px)
 and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait
@media only screen
 and (min-device-width: 375px)
 and (max-device-width: 667px)
 and (-webkit-min-device-pixel-ratio: 2)
 and (orientation: portrait) {

}

/* Landscape
@media only screen
 and (min-device-width: 375px)
 and (max-device-width: 667px)
 and (-webkit-min-device-pixel-ratio: 2)
 and (orientation: landscape) {

}

/* ----------- iPhone 6+, 7+ and 8+ -----------

/* Portrait and Landscape
@media only screen
 and (min-device-width: 414px)
 and (max-device-width: 736px)
 and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait
@media only screen
 and (min-device-width: 414px)
 and (max-device-width: 736px)
 and (-webkit-min-device-pixel-ratio: 3)
 and (orientation: portrait) {

}

/* Landscape
@media only screen
 and (min-device-width: 414px)
 and (max-device-width: 736px)
 and (-webkit-min-device-pixel-ratio: 3)
 and (orientation: landscape) {

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape
@media only screen
 and (min-device-width: 375px)
 and (max-device-width: 812px)
 and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait
@media only screen
 and (min-device-width: 375px)
 and (max-device-width: 812px)
 and (-webkit-min-device-pixel-ratio: 3)
 and (orientation: portrait) {

}

/* Landscape
@media only screen
 and (min-device-width: 375px)
 and (max-device-width: 812px)
 and (-webkit-min-device-pixel-ratio: 3)
 and (orientation: landscape) {

}

\* ================================== */


h1.color-secondary, h2.color-secondary, h3.color-secondary, h4.color-secondary, h5.color-secondary, h6.color-secondary, .h1.color-secondary, .h2.color-secondary, .h3.color-secondary, .h4.color-secondary, .h5.color-secondary, .h6.color-secondary { color: #7a0fff; }
h1.color-primary, h2.color-primary, h3.color-primary, h4.color-primary, h5.color-primary, h6.color-primary, .h1.color-primary, .h2.color-primary, .h3.color-primary, .h4.color-primary, .h5.color-primary, .h6.color-primary { color: #46bdf4; }

.theme-light h1.color-secondary, .theme-light h2.color-secondary, .theme-light h3.color-secondary, .theme-light h4.color-secondary, .theme-light h5.color-secondary, .theme-light h6.color-secondary, .theme-light .h1.color-secondary, .theme-light .h2.color-secondary, .theme-light .h3.color-secondary, .theme-light .h4.color-secondary, .theme-light .h5.color-secondary, .theme-light .h6.color-secondary { color: #7a0fff; }
.theme-light h1.color-primary, .theme-light h2.color-primary, .theme-light h3.color-primary, .theme-light h4.color-primary, .theme-light h5.color-primary, .theme-light h6.color-primary, .theme-light .h1.color-primary, .theme-light .h2.color-primary, .theme-light .h3.color-primary, .theme-light .h4.color-primary, .theme-light .h5.color-primary, .theme-light .h6.color-primary { color: #46bdf4; }

h1.color-secondary, h2.color-secondary, h3.color-secondary, h4.color-secondary, h5.color-secondary, h6.color-secondary, .h1.color-secondary, .h2.color-secondary, .h3.color-secondary, .h4.color-secondary, .h5.color-secondary, .h6.color-secondary, p.color-secondary { color: #8255fd; }
h1.color-primary, h2.color-primary, h3.color-primary, h4.color-primary, h5.color-primary, h6.color-primary, .h1.color-primary, .h2.color-primary, .h3.color-primary, .h4.color-primary, .h5.color-primary, .h6.color-primary, p.color-primary { color: #46bdf4; }
h1.color-alt-primary, h2.color-alt-primary, h3.color-alt-primary, h4.color-alt-primary, h5.color-alt-primary, h6.color-alt-primary, .h1.color-alt-primary, .h2.color-alt-primary, .h3.color-alt-primary, .h4.color-alt-primary, .h5.color-alt-primary, .h6.color-alt-primary, p.color-alt-primary { color: #2b56f5; }

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span, p span { color: #46bdf4; }

a { color: #46bdf4; }
a:hover, a:focus, a:active { color: #343459; }

.theme-dark h1.color-secondary, .theme-dark h2.color-secondary, .theme-dark h3.color-secondary, .theme-dark h4.color-secondary, .theme-dark h5.color-secondary, .theme-dark h6.color-secondary, .theme-dark blockquote.color-secondary, .light h1.color-secondary, .light h2.color-secondary, .light h3.color-secondary, .light h4.color-secondary, .light h5.color-secondary, .light h6.color-secondary, .light blockquote.color-secondary { color: #7a0fff; }
.theme-dark h1.color-primary, .theme-dark h2.color-primary, .theme-dark h3.color-primary, .theme-dark h4.color-primary, .theme-dark h5.color-primary, .theme-dark h6.color-primary, .theme-dark blockquote.color-primary, .light h1.color-primary, .light h2.color-primary, .light h3.color-primary, .light h4.color-primary, .light h5.color-primary, .light h6.color-primary, .light blockquote.color-primary { color: #46bdf4; }
.theme-dark h1.color-alt-primary, .theme-dark h2.color-alt-primary, .theme-dark h3.color-alt-primary, .theme-dark h4.color-alt-primary, .theme-dark h5.color-alt-primary, .theme-dark h6.color-alt-primary, .theme-dark blockquote.color-alt-primary, .light h1.color-alt-primary, .light h2.color-alt-primary, .light h3.color-alt-primary, .light h4.color-alt-primary, .light h5.color-alt-primary, .light h6.color-alt-primary, .light blockquote.color-alt-primary { color: #2b56f5; }

.color-primary { color: #46bdf4; }

.color-secondary { color: #7a0fff; }

.bg-primary { background: #46bdf4; }

.bg-secondary { background: #7a0fff; }

.bg-light-primary { background-color: rgba(70, 189, 244, 0.1); }

.bg-light-secondary { background-color: rgba(122, 15, 255, 0.1); }

.tab-custom .nav-tabs { border-bottom-color: rgba(122, 15, 255, 0.2); }
.tab-custom .nav-tabs li > a:hover { color: #46bdf4; }
.tab-custom .nav-tabs li > a.active, .tab-custom .nav-tabs li > a.active:hover, .tab-custom .nav-tabs li > a.active:focus, .tab-custom .nav-tabs li > a.active:hover, .tab-custom .nav-tabs li > a.active:focus { border-bottom-color: #46bdf4; }
.tab-custom-s2 .nav-tabs li > a.active, .tab-custom-s2 .nav-tabs li > a.active:hover, .tab-custom-s2 .nav-tabs li > a.active:focus, .tab-custom-s2 .nav-tabs li > a.active:hover, .tab-custom-s2 .nav-tabs li > a.active:focus { border-bottom-color: #2b56f5; }

.theme-light .tab-custom .nav-tabs li > a:hover { color: #46bdf4; }

.pagination li.active a { background: #46bdf4; border-color: #46bdf4; }
.pagination li a { color: #46bdf4; }
.pagination li a:hover, .pagination li a:focus { color: #fff; background: #46bdf4; border-color: #46bdf4; }

.navbar .navbar-nav > li:hover a { color: #3C76FF; }
.navbar .navbar-nav > li > a.nav-link.active { color: #fff; text-decoration: underline;
 }
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover, .navbar .navbar-nav .dropdown-menu .dropdown-item:focus, .navbar .navbar-nav .dropdown-menu .dropdown-item.active { color: #3C76FF; }
.navbar .navbar-nav .dropdown-menu li:hover > a { color: #46bdf4; }
.navbar .navbar-nav .dropdown-menu li:hover.has-children:after { border-left-color: #46bdf4; }
.navbar .navbar-nav .dropdown-menu.active > a, .navbar .navbar-nav .dropdown-menu li > a:hover, .navbar .navbar-nav .dropdown-menu li > a:focus { color: #46bdf4; }
.navbar .navbar-nav .dropdown-menu > .active > a, .navbar .navbar-nav .dropdown-menu > .active > a:focus, .navbar .navbar-nav .dropdown-menu > .active > a:hover { color: #46bdf4; }

.theme-light .navbar .navbar-nav .dropdown-menu .dropdown-item:hover, .theme-light .navbar .navbar-nav .dropdown-menu .dropdown-item:focus, .theme-light .navbar .navbar-nav .dropdown-menu .dropdown-item.active { color: #46bdf4; }

.theme-light .site-header .navbar-nav > li:hover a { color: #46bdf4; }

.navbar-toggler { background: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); }
.navbar-toggler:hover { background: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); }

.btn { background-image: -webkit-linear-gradient(left, #2b56f5 0%, #46bdf4 100%); background-image: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); }
.btn:before { background-image: -webkit-linear-gradient(left, #46bdf4 0%, #2b56f5 100%); background-image: linear-gradient(to right, #46bdf4 0%, #2b56f5 100%); }
.btn.btn-alt { background-image: -webkit-linear-gradient(left, #7a0fff 0%, #46bdf4 100%); background-image: linear-gradient(to right, #7a0fff 0%, #46bdf4 100%); }
.btn.btn-alt:before { background-image: -webkit-linear-gradient(left, #46bdf4 0%, #7a0fff 100%); background-image: linear-gradient(to right, #46bdf4 0%, #7a0fff 100%); }
.btn.btn-plane { background: #7a0fff; }
.btn.btn-simple .fa { color: #46bdf4; }
.btn.btn-more { color: #46bdf4; }
.btn.btn-more:hover { color: #7a0fff; }

.play-btn .play { background: white; }
.play-btn .play > span { background-image: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); }
.play-btn-alt .fa { background: #3E78FF;}
.play-btn > span:last-of-type { color: #8255fd; }

.text-block ul:not(.btns) li:before { background: #46bdf4; }

.section-head .section-title span, .section-head .section-title:before { color: rgba(122, 15, 255, 0.06); }
.section-head-s2:before { background: #46bdf4; }

.heading-animation { border-top-color: #2b56f5; border-left-color: #2b56f5; }
.heading-animation:before { border-top-color: #2b56f5; border-lef-colort: #2b56f5; }
.heading-animation:after { border-top-color: #2b56f5; border-left-color: #2b56f5; }
.heading-animation span:first-of-type { border-top-color: #2b56f5; border-left-color: #2b56f5; }
.heading-animation span:first-of-type:before { border-top-color: #2b56f5; border-left-color: #2b56f5; }
.heading-animation span:first-of-type:after { border-top-color: #2b56f5; border-left-color: #2b56f5; }
.heading-animation span:last-of-type { border-top-color: #2b56f5; border-left-color: #2b56f5; }
.heading-animation span:last-of-type:before { border-top-color: #2b56f5; border-left-color: #2b56f5; }
.heading-animation span:last-of-type:after { border-top-color: #2b56f5; border-left-color: #2b56f5; }

.section-connect:before { background: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); }

.event-info:before { background: #46bdf4; }

.countdown-box .token-countdown .countdown-text { color: #46bdf4; }
.countdown-box.countdown-header:after { border-color: rgba(122, 15, 255, 0.4); }
.countdown-box.countdown-header:before { border-color: rgba(122, 15, 255, 0.4); }
.countdown-box.countdown-header .extra-line { border-color: rgba(122, 15, 255, 0.4); }
.countdown-box.countdown-header .extra-line:after { border-color: rgba(122, 15, 255, 0.4); }
.io-azure .countdown-box { background: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); }

.theme-light .countdown-box.countdown-header:after { border-color: rgba(122, 15, 255, 0.1); }
.theme-light .countdown-box.countdown-header:before { border-color: rgba(122, 15, 255, 0.1); }
.theme-light .countdown-box.countdown-header .extra-line { border-color: rgba(122, 15, 255, 0.1); }
.theme-light .countdown-box.countdown-header .extra-line:after { border-color: rgba(122, 15, 255, 0.1); }

.io-dark-light .section-light .countdown-box.countdown-header:after, .io-dark-light .section-light-alt .countdown-box.countdown-header:after { border-color: rgba(122, 15, 255, 0.1); }
.io-dark-light .section-light .countdown-box.countdown-header:before, .io-dark-light .section-light-alt .countdown-box.countdown-header:before { border-color: rgba(122, 15, 255, 0.1); }
.io-dark-light .section-light .countdown-box.countdown-header .extra-line, .io-dark-light .section-light-alt .countdown-box.countdown-header .extra-line { border-color: rgba(122, 15, 255, 0.1); }
.io-dark-light .section-light .countdown-box.countdown-header .extra-line:after, .io-dark-light .section-light-alt .countdown-box.countdown-header .extra-line:after { border-color: rgba(122, 15, 255, 0.1); }

.roadmap-list:after { background: #7a0fff; }

.single-roadmap:before { background-image: -webkit-linear-gradient(top, #46bdf4 0%, #7a0fff 100%); background-image: linear-gradient(top, #46bdf4 0%, #7a0fff 100%); }
.single-roadmap:after { background: #46bdf4; }
.single-roadmap.roadmap-done:after { border-color: #fff; }
.single-roadmap h6 { color: #8255fd; }
.single-roadmap.roadmap-down:before { background-image: -webkit-linear-gradient(top, #7a0fff 0%, #46bdf4 100%); background-image: linear-gradient(top, #7a0fff 0%, #46bdf4 100%); }

.theme-light .single-roadmap:before { background-image: -webkit-linear-gradient(top, #2b56f5 0%, #7a0fff 100%); background-image: linear-gradient(top, #2b56f5 0%, #7a0fff 100%); }
.theme-light .single-roadmap:after { background: #2b56f5; }
.theme-light .single-roadmap.roadmap-done:after { border-color: #46bdf4; }
.theme-light .single-roadmap.roadmap-down:before { background-image: -webkit-linear-gradient(top, #7a0fff 0%, #2b56f5 100%); background-image: linear-gradient(top, #7a0fff 0%, #2b56f5 100%); }

.single-roadmap-alt:before { background-image: linear-gradient(to right, transparent 0%, #7a0fff 50%, #7a0fff 100%); }
.single-roadmap-alt:after { border: 1px solid #7a0fff; }
.single-roadmap-alt.sec-pri:before { background-image: linear-gradient(to right, #7a0fff 0%, #46bdf4 100%); }
.single-roadmap-alt.sec-pri:after { border-color: #46bdf4; }
.single-roadmap-alt.sec-pri h5:before, .single-roadmap-alt.sec-pri h6:before { background: #46bdf4; }
.single-roadmap-alt.pri-sec:before { background-image: linear-gradient(to right, #46bdf4 0%, #7a0fff 100%); }
.single-roadmap-alt.pri-sec:after { border-color: #7a0fff; }
.single-roadmap-alt.pri-sec h5:before, .single-roadmap-alt.pri-sec h6:before { background: #7a0fff; }
.single-roadmap-alt.sec-prialt:before { background-image: linear-gradient(to right, #7a0fff 0%, #2b56f5 100%); }
.single-roadmap-alt.sec-prialt:after { border-color: #2b56f5; }
.single-roadmap-alt.sec-prialt h5:before, .single-roadmap-alt.sec-prialt h6:before { background: #2b56f5; }
.single-roadmap-alt.prialt-pri:before { background-image: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); }
.single-roadmap-alt.prialt-pri:after { border-color: #46bdf4; }
.single-roadmap-alt.prialt-pri h5:before, .single-roadmap-alt.prialt-pri h6:before { background: #46bdf4; }
.single-roadmap-alt.pri-last:before { background-image: linear-gradient(to left, transparent 0%, #46bdf4 50%, #46bdf4 100%); }
.single-roadmap-alt h5:before, .single-roadmap-alt h6:before { background: #7a0fff; }

.team-member .team-photo:after { background-image: -webkit- linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); background-image: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); }
.team-member .team-title { color: #46bdf4; }
.team-member .team-social li a { color: #8255fd; }

.team-hex .team-info:before { background-image: -webkit- linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); background-image: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); }
.team-hex .team-title { color: #8255fd; }

.team-described .team-title:after { background-image: -webkit- linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); background-image: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); }
.team-described .team-social li a { color: #8255fd; }
.team-described .team-discription li:before { background: #46bdf4; }

.team-circle .team-photo:before { background-image: linear-gradient(to top, #2b56f5 0%, #46bdf4 100%); }
.team-circle .team-title { color: #8255fd; }

.skill-bar-percent { background-image: linear-gradient(to right, #46bdf4 0%, #7a0fff 100%); }

.bg-team-exp.mfp-bg { background-image: linear-gradient(to right, #46bdf4 0%, #7a0fff 100%); }

.contact-info li .fa { background-image: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); }
.contact-info-alt li .fa { background-image: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); }

.form-message .input-field .input-line { border-bottom-color: #46bdf4; }

.social li a:hover { background: #0043EC; }

.select2-container--default .select2-results__option--highlighted[aria-selected] { background: rgba(70, 189, 244, 0.2); }
.theme-light .select2-container--default .select2-results__option--highlighted[aria-selected], .io-azure .section-pro .select2-container--default .select2-results__option--highlighted[aria-selected] { background: rgba(70, 189, 244, 0.4); }

.select2-container--default .select2-results__option[aria-selected=true] { background: rgba(70, 189, 244, 0.3); }

.select2-container--default .select2-selection--single { background: rgba(70, 189, 244, 0.1); }

.language-switcher .dropdown-item:hover { color: #46bdf4; }

.blog-photo a:after { background: linear-gradient(to right, #46bdf4 0%, #7a0fff 100%); }
.blog-meta li { color: #fff; }
.blog-meta li span { color: #46bdf4; }
.blog-meta li:after { background: #fff; }
.blog-meta li a { color: #000; }
.blog-meta li a:hover { color: #46bdf4; }
.blog-title a:hover { color: #46bdf4; }
.blog-title a { color: #000; }
.blog-title  { color: #000; }
.blog-tags li a { border-color: rgba(70, 189, 244, 0.2); }
.blog-tags li a:hover { color: #46bdf4; }
.theme-light .blog-title a:hover { color: #46bdf4; }
.theme-light .blog-tags li a { border-color: rgba(70, 189, 244, 0.5); }
.theme-light .blog-tags li a:hover { color: #46bdf4; }
.io-azure .blog-title a:hover { color: #46bdf4; }
.io-azure .blog-meta li { color: #46bdf4; }
.io-azure .blog-meta li span { color: #46bdf4;}
.io-azure .blog-meta li:after { background: #fff; }
.io-azure .blog-meta li a { color: #46bdf4; }
.io-azure .blog-meta li a:hover { color: #fff; }
.io-azure .section-pro .blog-title a:hover { color: #46bdf4; }
.io-azure .section-pro .blog-tags li a:hover { color: #46bdf4; }
.io-azure .section-pro .blog-meta li { color: #7a0fff; }
.io-azure .section-pro .blog-meta li span { color: #9c9c9c; }
.io-azure .section-pro .blog-meta li:after { background: #fff; }
.io-azure .section-pro .blog-meta li a { color: #7a0fff; }
.io-azure .section-pro .blog-meta li a:hover { color: #000; }

.comment-time { color: #7a0fff; }
.comment-reply .fa { color: #7a0fff; }
.theme-light .comment-reply .fa { color: #7a0fff; }
.theme-light .comment-reply:hover { color: #7a0fff; }
.io-azure .section-pro .comment-reply .fa { color: #7a0fff; }
.io-azure .section-pro .comment-reply:hover { color: #7a0fff; }

.page-pagination li a { color: #023DD8; background: #fff;}
.page-pagination li a:hover { background: #023DD8; color: #fff; }
.page-pagination li.active a { background: #023DD8; color: #fff; }
.theme-light .page-pagination li a { color: #46bdf4; }
.theme-light .page-pagination li a:hover { color: #fff; background: rgba(122, 15, 255, 0.4); }
.theme-light .page-pagination li.active a { background: rgba(122, 15, 255, 0.4); }
.io-azure .page-pagination li a { color: #46bdf4; }
.io-azure .page-pagination li a:hover { color: #fff; background: rgba(122, 15, 255, 0.4); }
.io-azure .page-pagination li.active a { background: rgba(122, 15, 255, 0.4); }
.io-azure .section-pro .page-pagination li a { color: #46bdf4; }
.io-azure .section-pro .page-pagination li a:hover { color: #fff; background: rgba(122, 15, 255, 0.6); }
.io-azure .section-pro .page-pagination li.active a { color: #fff; background: rgba(122, 15, 255, 0.6); }

.sidebar-widget.category ul li:before { background: #46bdf4; }
.sidebar-widget.category ul li a:hover { color: #46bdf4; }
.sidebar-widget.category ul li.active a { color: #46bdf4; }
.sidebar-widget.tags ul li a { border-color: rgba(70, 189, 244, 0.2); }
.sidebar-widget.tags ul li a:hover { color: #46bdf4; }
.theme-light .sidebar-widget.category ul li a:hover { color: #46bdf4; }
.theme-light .sidebar-widget.category ul li.active a { color: #46bdf4; }
.theme-light .sidebar-widget.tags ul li a { border-color: rgba(70, 189, 244, 0.5); }
.theme-light .sidebar-widget.tags ul li a:hover { color: #46bdf4; }
.io-azure .section-pro .sidebar-widget.category ul li a:hover { color: #46bdf4; }
.io-azure .section-pro .sidebar-widget.category ul li.active a { color: #46bdf4; }
.io-azure .section-pro .sidebar-widget.tags ul li a:hover { color: #46bdf4; }

.search-form input[type="text"] { border-color: rgba(70, 189, 244, 0.1); }
.search-form button { background: rgba(70, 189, 244, 0.1); color: #fff; }
.search-form button:hover { background: rgba(70, 189, 244, 0.3); }
.theme-light .search-form input[type="text"] { border-color: rgba(70, 189, 244, 0.5); }
.theme-light .search-form button { background: rgba(70, 189, 244, 0.5); }
.theme-light .search-form button:hover { background: rgba(70, 189, 244, 0.8); }
.io-azure .section-pro .search-form button:hover { background: rgba(70, 189, 244, 0.8); color: #fff; }

.io-azure .banner-tokensale .countdown-box .btn.btn-alt { background-image: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%); }
.io-azure .banner-tokensale .countdown-box .btn.btn-alt:before { background-image: linear-gradient(to right, #46bdf4 0%, #7a0fff 100%); }

.token-status-bar { background: #fff; }
.token-status-percent { background: linear-gradient(to right, #46bdf4 0%, #2b56f5 100%); }
.io-azure .banner-tokensale .token-status-percent { background: linear-gradient(to right, #2b56f5 0%, #0b39e2 100%); }
.token-status-point:after { background: rgba(130, 85, 253, 0.35); }

.theme-lavendar .btn { background: #0043EC; }
.theme-lavendar .btn:hover { background: #fff; color: #0043EC; }

.theme-lavendar .btn-demo { background: #0043EC; color: #fff; border: 1px solid #fff;}
.theme-lavendar .btn-demo:hover { background: #fff; color: #0043EC; }


.theme-lavendar .btn.btn-plane { background: #fff; }
.theme-lavendar .btn.btn-plane:hover { background: #0043EC; }
.theme-lavendar .btn.btn-simple .fa { color: #0043EC; }
.theme-lavendar .btn.btn-white { background: #0043EC; color: #fff; } /* ***Color of navbar button */
.theme-lavendar .btn.btn-white:hover { background: #fff; color: #0043EC } /* ***Color of navbar button hovered*/
.theme-lavendar .btn.btn-simple { background: none; }
.theme-lavendar .btn.btn-simple .fa { color: #0043EC; }
.theme-lavendar .btn.btn-outline { background: transparent; border-color: #fff; }
.theme-lavendar .btn.btn-outline:after { background: transparent; }
.theme-lavendar .owl-dot { background: white; }
.theme-lavendar .owl-dot.active { background: white; }
.theme-lavendar .site-header.has-fixed .btn.btn-white { background: #0043EC; border: 1px solid #fff;} /* ***Color of navbar button (After Scroll) */
.theme-lavendar .site-header.has-fixed .btn.btn-white:hover { background: #fff; color: #0043EC; } /* ***Color of navbar button hovered (After Scroll)*/
.theme-lavendar .site-header.has-fixed .btn.btn-outline { border-color: #fff; color: #fff; }
.theme-lavendar .navbar-toggler { background: #003EE4; }  /* ***Background: Color of Navbar Hamburger Menu; */
.theme-lavendar .into-section  { background: linear-gradient(#0018AA, #0044EE); color: #D2DFFF; }
.theme-lavendar .coming-section  { background: linear-gradient(#0044EE, #0044EE); color: #D2DFFF; }
.theme-lavendar .confirm-section , [class*=confirm-section] { background: linear-gradient(#0045EE, #000E9D); }
.section-bg-light .small-heading, [class*=section-bg-light] .small-heading { color: rgba(93, 70, 232, 0.5); }

.section-bg-lavendar { background: #0043EC; }
.section-bg-lavendar .section-head-s3 .section-title:before { background: #ff9259; }

.section-bg-light-alt { background: rgba(93, 70, 232, 0.04); }

.section-head-s3 .section-title:before { background: #0043EC; }

.warnning-badge { background: #fff; color: #0043EC; }

.banner-rounded-bg { background: #0018f8; }

.token-box .icon-list li .fa { color: #0043EC; }
.token-box .token-countdown .countdown-time { color: #0043EC; }
.token-box .token-countdown .countdown-time:after { color: #0043EC; }
.token-bar { background: rgba(93, 70, 232, 0.1); }
.token-percent { background: #0043EC; }
.token-point:after { background: #0043EC; }

.roadmap-carousel:before, .roadmap-carousel:after { background: #fff; }
.roadmap-carousel-container:before { background: #fff; }
.roadmap-item h6:before { background: rgba(93, 70, 232, 0.3); }
.roadmap-item h6:after { background: #0043EC; }
.roadmap-done h6:before { background: rgba(64, 190, 255, 0.3); }
.roadmap-done h6:after { background: #40beff; }

.about-section-innr:before { background: #0043EC; }
.about-section-innr:after { background: #0043EC; }
.about-info { background: rgba(49, 31, 155, 0.4); }
.about-info .ti { color: #40beff; }

.reason-item .ikon { color: #0043EC; }

.process-scetion .slider-nav-item { color: #F0464C; }
.process-scetion .slider-nav-item:nth-child(2) { color: #4E8FED; }
.process-scetion .slider-nav-item:nth-child(3) { color: #F06E45; }
.process-scetion .slider-nav-item:nth-child(4) { color: #EEAA4C; }
.process-scetion .slider-nav-item:nth-child(5) { color: #3D41A0; }
.process-scetion .slider-nav-item.active { color: #fff; background: #F0464C; }
.process-scetion .slider-nav-item.active:nth-child(2) { background: #4E8FED; }
.process-scetion .slider-nav-item.active:nth-child(3) { background: #F06E45; }
.process-scetion .slider-nav-item.active:nth-child(4) { background: #EEAA4C; }
.process-scetion .slider-nav-item.active:nth-child(5) { background: #3D41A0; }

.features-item .ti { background: #40beff; }

.team-described .team-photo:before { background-image: linear-gradient(to top left, rgba(64, 190, 255, 0.65) 0%, rgba(93, 70, 232, 0.65) 100%); }
.team-described .team-title { color: #40beff; }
.team-described .team-title:after { background-image: linear-gradient(to left, #0043EC 0%, #40beff 100%); }
.team-described .team-social li a { color: #40beff; }
.team-described .team-social li a:hover { color: #0043EC; }
.team-described .team-discription li:before { background: #40beff; }

.section-bg-light .accordion .plus-minus .ti { color: #0043EC; }

.media-heading a:hover { color: #343459; }

.subscribe-rounded .input-round { background: rgba(93, 70, 232, 0.07); }

.footer-lavendar { background: #000f9d; }

.social-bar li a { color: #0043EC; }


/* ! Write Custom CSS Here */
/*
  Begin LWA v1.0
*/



/*! Google Translate Button */
/*	// top:0!important; // Prevent Google Topbar from pushing down body.
  h1 {color:#fff; margin: 1em 0 0.5em 0; letter-spacing: -1px;}
	h2 {color:#fff; margin: 0 0 1em 0; font-weight:100;font-size: 1.8em; letter-spacing: -1px;}
  p {color:#fff;}
  a {color:#fff;}*/
.goog-te-banner-frame {display:none;} // Don't show Google Topbar
#goog-gt-tt {display:none!important;visibility:hidden!important;}

#google_translate_element {
  position: absolute;
  bottom: calc(53px + 16px);
  right: 16px!important;
  // z-index: 99999;
}
.goog-te-gadget {
  font-family: Roboto, 'Open Sans', sans-serif!important;
  text-transform: uppercase;
}
.goog-te-gadget-simple  {
  background-color: rgba(255,255,255,0.20)!important;
  border: 1px solid rgba(255,255,255,0.50) !important;
  padding: 8px!important;
  border-radius: 4px!important;
  font-size: 1rem!important;
  line-height:2rem!important;
  display: inline-block;
  cursor: pointer;
  zoom: 1;
}
.goog-te-menu2 {
  max-width: 100%;
}
.goog-te-menu-value {
  color: #fff !important;
    &:before {
    font-family: 'Material Icons';
    content: "\E927";
    margin-right: 16px;
    font-size: 2rem;
    vertical-align: -10px;
    // width:32px!important;
  }
}
.goog-te-menu-value span:nth-child(5) {
  display:none;
}
.goog-te-menu-value span:nth-child(3) {
  border:none!important;
  font-family: 'Material Icons';
  &:after {
    font-family: 'Material Icons';
    content: "\E5C5";
    font-size: 1.5rem;
    vertical-align: -6px;
  }
}

.goog-te-gadget-icon {
    background-image: url(https://placehold.it/32)!important;
    background-position: 0px 0px;
    height: 32px!important;
    width: 32px!important;
    margin-right: 8px!important;
    //     OR
    display: none;
}

/* ============ HIDE TOP BAR ============ */
.goog-te-banner-frame.skiptranslate {display: none!important;}
body {top: 0px!important;}




.goog-te-banner-frame.skiptranslate {display: none!important;}
body {top: 0px!important;}




.block-color-red {
	border: 1px solid #fff;
	border-radius: 10%;
	padding: 30px;
	background: #EF4045;
}

.block-color-yellow {
	border: 1px solid #fff;
	border-radius: 10%;
	padding: 30px;
	background: #EEAA4C;
}

.block-color-blue {
	border: 1px solid #fff;
	border-radius: 10%;
	padding: 30px;
	background: #4E8FED;
}

.block-color-orange {
	border: 1px solid #fff;
	border-radius: 10%;
	padding: 30px;
	background: #F06E45;
}


/*
  Begin LWA v1.1
*/
.box {
    background-color: transparent;
    padding: 35px;

    text-align: center;
}


input {
    border: 1px solid rgb(220, 219, 235);
    border-radius: 4px;
    font-size: 13px;
    padding: 10px;
    color: #000;
    transition: all .15s ease-in;
}

input[type=email] {
    width: 60%;
}

input[type=submit] {
    background-color: rgb(53, 114, 210);
    color: #fff;
    font-weight: bold;
    border: 1px solid transparent;
}

input[type=submit]::focus {
    border: 1px solid #fff;
}

input:focus {
    border-color: rgb(53, 114, 210);
    outline: none;
}

input::placeholder {
    color: #999;
}

#subscribe-result p {
    margin-top: 35px;
}

/*
  LWA v2.0 Updates:
   - popup added
   - campaign live
*/

.btn-grow {
  display: inline-block;
  color: #14f;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.btn-grow:hover, .btn-grow:focus, .btn-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.investModal {
  transition-property: opacity 1s, margin-left 1s;
  transition-delay: 0.2s;
  display: none;
  height: auto;
  margin-left: -37.5%;
  min-height: 300px;
  max-height: 100%;
  min-width: 50%;
  max-width: 100%;
  background: #FFF;
  z-index: 9999;
}

.popupContainer{
  position: fixed;
  left:50%;
  top: 20%;
  z-index: 9999;
  width: auto;
  height: auto;
  min-height: 300px;
  max-height: 100%;
  min-width: 100px;
  max-width: 700px;
  padding: 40px 20px;
}

.popupContainer .wrapper{
  position: relative;
  left: -50%;
  top: -20%;
  /*popup-styles*/
  background-color:#fff;
  padding: 40px 20px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 600px) {
/* Styles */
  .popupContainer{
    position: fixed;
    left: 20%;
    top: 1%;
    z-index: 9999;
    width: auto;
    height: auto;
    min-height: 300px;
    max-height: 100%;
    min-width: 100px;
    max-width: 350px;
    padding: 40px 10px;
  }

  .investButton{
    margin-left: auto;
  }

  .popupContainer .wrapper{
    position: relative;
    left: -20%;
    top: -1%;
    /* popup-styles */
    background-color:#fff;
    padding: 30px 10px;
    padding-right: 0 !important;
    text-align: center;
  }
}

.popupContainer{
  width: 100%;
}


.popup-text{
  font-size: 24px;
  font-weight: 800;
  width: auto;
}

.fontCenter{
  color: white;
  font-size: 36px;
  position: absolute;
  z-index: 999999999;
  margin: 0 auto;
  margin-top: -45px;
}

.investClose:hover{
  cursor: pointer;
  opacity: 0.5;
}

.investButton:hover{
  cursor: pointer;
  opacity: 0.6;
  border-radius: 50%;
}

a.investButton:hover + a.popup-text{
  opacity: 0.5;
}

/* Force only popup <hr> tag to have these stylings */
#popup-hr{
  border: 2px solid black !important;
}


div.overlay {
    position: absolute;
    z-index: 900;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    opacity: 0.5;
    filter: alpha(opacity = 50); /* required for opacity to work in IE */
}

/*
  END 2.0 - SE live -rf
*/
